.A {
    width: 900px;
    height: 500px;
    color: #ffc0cb;
    background-color: #ffffff;

}

    .A img {
        border-radius: 50%; /* 角丸半径を50%にする(=円形にする) */
        width: 300px; /* ※縦横を同値に */
        height: 300px; /* ※縦横を同値に */
        float: right;
        margin-right: 50px;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.3));
    }

body {
    background-color: #f2706d;
    font-size: 50px;
    text-align: center;
}

.Z {
    margin: 10px auto;
    width: 900px;
    height: 1300px;
    color: #ffc0cb;
    background-color: #f2706d;
}

.B {
    width: 900px;
    height: 300px;
    color: #ffc0cb;
    background-color: #ffffff;
}

.C {
    width: 900px;
    height: 300px;
    color: #ffc0cb;
    background-color: #ffffff;
    margin-top: 50px;
}

.D {
    float: left;
    width: 200px;
    height: 200px;
    color: #ffffff;
    background-color: #f2706d;
    margin-left: 80px;
    margin-top: 50px;
}

